# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Base de datos H2
/data/
*.mv.db
*.trace.db

# IDE - Visual Studio Code
.vscode/

# IDE - IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Archivos del sistema operativo
.DS_Store
Thumbs.db